
$bg-black: #000000;
$mobil: "screen and (max-width: 1199px)";
$tablet: "screen and (min-width: 768px)";
$pc: "screen and (min-width: 1200px)";


//@import "../node_modules/bootstrap/scss/variables";

.ipadPro, .iPadAir, .iPadNormal{
  padding-bottom: 170px;
}

.compare{
  h2{
    padding: 100px;
  }
}


.ipadAirpods{
  background-color: $bg-black;
  height: 554px;
}

.juleLogo{
  background-image: url("../img/jule-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 75px;
  height: 75px;
}

.juleSektionIpad{
  background-image: url("../img/juleSektioniPad.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}


.ipadOsTekst {
  padding-top: 15%;
}

.ipadRedImg{
  background-image: url("../img/ipadRed.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
  left: 150px;
}

.ipadRedTekst {
  padding-top: 15%;
  margin-bottom: 150px;
}

.ipadPay {
  height: 550px;
}

.ipadIcloud {
  height: 550px;
}

.tvShow {
  background-color: $bg-black;
}

.tvTekst {
  margin-top: 10%;

}

.tv-image {
  width: 100%;
  height: auto;
}

.ipadTvTekst {
  margin-top: 70px;
  margin-bottom: 100px;
}

.appleMusic {
  background-image: url("../img/appleMusic.jpg");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  height: 575px;
}

.ipadArcade {
  background-image: url("../img/appleArcadeIpad.jpg");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  height: 575px;
}

.ipadLearning {
  background-image: url("../img/ipadLearning.jpg");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  height: 575px;
}

.ipadErhverv {
  background-image: url("../img/ipadErhverv.jpg");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  height: 575px;

}



@media #{$mobil} {
  .ipadErhverv{
  width: 100%;
    color: red
  }
}