$bg-black: #000000;

$pc: "screen and (min-width: 1200px)";

//@import "../node_modules/bootstrap/scss/variables";
.ipadPro, .iPadAir, .iPadNormal {
  padding-bottom: 70px;
}

.ipadProBillede {
  background-image: url("../img/ipadPro.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 220px;
  width: 100%;
  margin-left: 5%;
}

.ipadProTekst {
  padding-left: 20%;
}

.ipadAirBillede {
  background-image: url("../img/ipadAir.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
}

.ipadAirTekst {
  padding-left: 20%;
}

.iPadNormal {
  padding-left: 20%;
  padding-right: 20%;
}

.ipadMiniMobil {
  background-image: url("../img/ipadminiMobil.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 320px;
  width: 100%;
  margin-left: 10%;
}

.iPadMini {
  padding-left: 20%;
}

.juleSektion {
  width: 100%;
}

.mobilBillede {

  background-image: url("../img/juleMobil.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 300px;
}

.juleLogo {
  background-image: url("../img/jule-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 75px;
  height: 75px;

}

.ipadTilskud {
  width: 100%;
}

.applePencilImg {
  background-image: url("../img/applePencilMobil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 250px;
}

.folioMobil {
  background-image: url("../img/ipadFolioMobil.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 250px;
}

.ipadTilbehørMobil {
  background-image: url("../img/ipadTilbehørMobil.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 250px;
}

.ipadTilbehørWeb {
  display: none;
}

.ipadAirpods {
  background-color: $bg-black;
  height: 554px;
}

.ipadRedImg {
  background-image: url("../img/ipadRed.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 300px;

}

.ipadRedTekst {
  padding-top: 15%;
}

.ipadTilIpadBillede {
  background-image: url("../img/ipadTilipad.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  width: 100%;
}

.icloud {

  background-image: url("../img/ipadIcloud.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  width: 80%;
  position: relative;
  left: 15%;
}

.applePay {
  background-image: url("../img/applePay.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
  width: 100%;
  position: relative;
  right: 10%;
}

.tvShowBillede {
  background-image: url("../img/tvShowBilledeMobil.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  width: 100%;
}

.tvShow {
  background-color: $bg-black;
}

.appleMusic {
  background-image: url("../img/appleMusic.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 500px;

}

.ipadArcade {
  background-image: url("../img/appleArcadeIpad.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 500px;
}

.ipadLearning {
  background-image: url("../img/ipadLearning.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
}

.ipadErhverv {
  background-image: url("../img/ipadErhverv.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;

}

@media #{$pc} {

  .ipadPro {
    .ipadProWeb {
      display: flex;
      flex-direction: row-reverse;
    }
    h2 {
      font-size: 65px;
    }
    .ipadProBillede {
      width: 100%;
      height: 300px;
      background-size: contain;
    }
    .ipadProTekst {
      padding-left: 20%;
      h4 {
        font-size: 20pt;
        width: 300px;
      }
    }
  }

  .ipadAirWeb {
    display: flex;
    flex-direction: row;
    .ipadAirBillede {
      height: 500px;
      width: 60%;
      background-size: cover;
    }
    .ipadAirTekst {
      padding-left: 50%;
      padding-top: 5%;
      position: absolute;
    }
  }

  .ipadNormalWeb {
    display: flex;
    flex-direction: row-reverse;
    .ipadNormalBillede {
      width: auto;
      height: 400px;
    }
    .ipadNormalTekst {
      padding-top: 60px;
    }
  }

  .ipadMiniTekst {
    position: relative;
    bottom: 230px;
  }

  .ipadMiniWeb {
    background-image: url("../img/ipadMini.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 500px;

  }

  .ipadMini{

  }

  .ipadMiniMobil {
    display: none;
  }

  .compare{
    padding: 100px;
    .container{
      .row{
      display: flex;
      flex-direction: row;
      }
    }
  }

  .juleSektionIpad {
    background-image: url("../img/juleSektioniPad.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
  }

  .mobilBillede {
    display: none;
  }

  .ipadTilskud {
    padding-top: 100px;
    h3 {
      font-size: 35pt;
    }
  }

  .service {
    display: flex;
    flex-direction: row;
  }

  .ipadTilskud{
    margin-left: 20px;
    margin-right: 20px;
  }

  .ipadPencil {
    margin-left: 5%;
    padding:0;
    .applePencilImg {
      display: none;
    }
    .applePencilWeb {
      background-image: url("../img/applePencil.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 300px;
      width: 100%;
    }
  }

  .ipadFolio {
    margin-right: 5%;

    .ipadFolioWeb {
      background-image: url("../img/ipadFolio.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      height: 300px;
      width: 100%;
    }

    .linksFolio {
      padding-bottom: 50px;
    }

    .brFolio {
      display: none;
    }

    .folioMobil {
      display: none;
    }
  }
  .ipadTilbehørContainer{
    margin-left: 5%;
  }
  .ipadTilbehørWeb{
    display: block;
    width: 94%;
    background-position: bottom center;
  }

  .ipadTilbehørMobil{
    display: none;
  }

  .ipadAirpods{
    height: 575px;
    margin-right: 5%;
  }

  .ipadOsTekst {
    padding-top: 15%;
  }

 .icloud{
   position: relative;
   left: 10%;
 }
  .applePay{
    position: relative;
    left: 1%;
  }
  .ipadPay {
    height: 550px;
    margin-top: -15px;
    margin-right: 5%;
  }

  .ipadIcloud {
    height: 550px;
    margin-left: 5%;

  }
  .ipadTvTekst{
    margin-top: 80px;
    font-size: 44pt;
  }

  .tvShow{
    margin-left: 2%;
    padding-top: 100px;
    height: 500px;
    margin-bottom: 130px;
  }
  .tvShowBilledeWeb{
    background-image: url("../img/tvShowBilledeMobil.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 500px;
    width: 100%;
  }

  .tvShowBillede{
    display: none;
  }

  .tvTekst{
    position: relative;
    bottom: 500px;
    right: 400px;
  }

  .brTv{
    display: none;
  }

  .ipadLearning{
    margin-left: 5%;
    margin-top: 3%;
  }

  .ipadErhverv{
    margin-right: 5%;
    margin-top: 1%;
  }

}

