*{
}

.bg-f2{
  background-color: #f2f2f2;
}

.container-access-trade{

}

body{
  background-color: #fff;
  margin: 0;
  padding: 0;
}

span, p, a, li {
  font-size: 14px;
}

h2{

}
h3{
 font-size: 19px;
}






  .mac-sortiment{
    background-color: #fff;
    padding: 30px 23%;
    .sortiment_punkt{
      display: flex;
      flex-direction: column;
      align-items: center;
    .sortiment_img {
      width: 54px;
      height: 54px;
    }
    span{
      font-size: small;
    }
  }
  }
h1{
  font-size: 60px;
}


.baerbar-macs{
  background-color: #f2f2f2;
}

.bg-black{
  background-color: black;
}



.catalina{
  background-image: url("../img/catalina__bbitocec9hte_large_2x.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.macos{
  background-image: url("../img/macos__qprhm9n1t166_large_2x.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
.icloud{
  background-image: url("../img/icloud__ftxhfw6t8r2a_large_2x.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.spiloplevelser{
  background-image: url("../img/alt_apple_arcade_tile__e1315ks01hm6_large_2x.jpg");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.mac-skole{
  background-image: url("../img/education__gfkwc3cy76ai_large_2x.jpg");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.mac-uddannelse{
  background-image: url("../img/higher_education__bptnkrbpu1yu_large_2x.jpg");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.mac-erhvervs{
  background-image: url("../img/business__e3o2qi6ojlaq_large_2x.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.icon-delivery{
  background-image: url("../img/icon-delivery__dr85v4hz74qe_large_2x.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 88px;
}
.icon-findstore{
  background-image: url("../img/icon_pickup_large_2x.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 76px;
  height: 88px;
}
.app-store-icon{
  background-image: url("../img/icon_appstore__8crw9p6hfg2u_large_2x.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}
.tv-plus-icon{
  background-image: url("../img/apple_tv_plus_logo__x77lljyi9cyi_large_2x.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 97px;
  height: 40px;
}
.arcade-icon{
  background-image: url("../img/apple_arcade_logo__fxcpeg2wmea2_large_2x.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 179px;
  height: 40px;
}
.julicon{
  background-image: url("../img/holiday_logo__frir1xc4izqm_large_2x.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
.julbillede{
  background-image: url("../img/holiday_hero__fl3m6qumnii6_small_2x.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
}
.fotos-icon{
  background-image: url("../img/nav_icon_photos__cwfb4408n0ia_large_2x.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.imovie-icon{
  background-image: url("../img/nav_icon_imovie__e39hqlnfhzqu_large_2x.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.garageband-icon{
  background-image: url("../img/nav_icon_garageband__bp0fa7v0u402_large_2x.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.pages-icon{
  background-image: url("../img/nav_icon_pages__cq8rf3jzmtyu_large_2x.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.numbers-icon{
  background-image: url("../img/nav_icon_numbers__e32onen79l6q_large_2x.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.keynote-icon{
  background-image: url("../img/nav_icon_keynote__drtl0yp821ea_large_2x.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.safari-icon{
  background-image: url("../img/nav_icon_safari__hbxe5jsqpi2y_large_2x.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.logicprox-icon{
  background-image: url("../img/nav_icon_logicpro__cigtdlg3ajrm_large_2x.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.mainstage3-icon{
  background-image: url("../img/nav_icon_mainstage__b6jzmqvvliya_large_2x.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.finalcutprox-icon{
  background-image: url("../img/nav_icon_finalcut__ce8pqblh8meq_large_2x.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.motion-icon{
  background-image: url("../img/nav_icon_motion__c25e0cwk54sy_large_2x.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.compressor-icon{
  background-image: url("../img/nav_icon_compressor__c2ypqhctl9oy_large_2x.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.macbook16pro{

}

.ul-txt{
  font-size: 13px;
}

.nav-item-mac{
  background-color: #f2f2f2;
  border: none;
  border-bottom: #d2d2d7 solid 1px;

}

.legend{
  font-size: 15px;
  color: lightgrey;
}


@media screen and (min-width: 768px) {
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 24px;
  }
  h1{
    font-size: 60px;
  }
  span, p, a, li{
    font-size: 17px;
  }
  .julbillede{
    background-image: url("../img/holiday_hero__fl3m6qumnii6_large_2x.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
  }
}